# Archivos compilados de C#
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]uild/
msbuild.log
msbuild.err
msbuild.wrn

# Archivos de Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs
*.psess
*.vsp
*.vspx
*.sap
.vscode/
*.vsconfig

# Unity
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/
/[Rr]ecordings/
/[Aa]ssets/AssetStoreTools*
.consulo/
*.csproj
*.unityproj
*.sln
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Carpetas de IDE
.idea/
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user
_TeamCity*
*.dotCover
.localhistory/

# NuGet
*.nupkg
**/packages/*
*.nuget.props
*.nuget.targets

# Archivos temporales
*.tmp
*.temp
*.swp
*~
.DS_Store

# Otros
TestResults/
[Tt]est[Rr]esult*/
_NCrunch_*
*.[Pp]ublish.xml
*.Coverage
coverage.*
*.coveragexml
*.log
*.dbmdl
*.jfm